.postContents {
  color: #333;
  @media (min-width: 768px) {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  p {
    line-height: 2;
    font-size: 0.9375rem;
    margin: 1.25em 0;
    @media (min-width: 768px) {
      font-size: 1.125rem;
    }
  }
  p + a{
    margin-top: 1em;
  }

  p > br {
    display: none;
  }
  p:empty {
    margin: 0;
  }

  code {
    margin: 0;
    border-radius: 5px;
  }



  :global(h2) {
    margin: 3em 0 0.6em 0;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.6;
    color: #000;
    @media (min-width: 768px) {
      font-size: 1.93rem;
      margin: 3em 0 0.6em 0;
    }
  }
  :global(h2):first-of-child {
    margin-top: 0;
  }

  :global(h3) {
    margin: 2rem 0 1.5rem 0;
    font-size: 0.9rem;
    font-weight: bold;
    color: #000;
    @media (min-width: 768px) {
      font-size: 1.2rem;
      margin: 3rem 0 1.5rem 0;
    }
  }

  :global(video) {
    margin: 2rem auto;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.05);
    max-width: 100%;
    display: block;
  }
  :global(img) {
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.05);
    max-width: 100%;
    display: block;
  }

  :global(.asset-wrapper) {
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.05);
    max-width: 100%;
    display: block;
  }

  :global(.tweet) {
    margin: 2rem auto;
    text-align: center;
  }

  :global(.callout) {
    padding: 16px 16px 16px 12px;
    display: flex;
    width: 100%;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    background: rgba(235, 236, 237, 0.6);
  }

  :global(.callout .text) {
    margin-left: 8px;
  }

  :global(.underline) {
    text-decoration: underline;
  }

  :global(a + p) {
    margin-top: 0;
  }

  code {
    font-size: 0.85em;
    background-color: #eff3f8;
    color: red;
    border-radius: 4px;
    padding: 0.2em 0.4em;
  }

  pre code {
    color: #c9d1d9;
    background-color: #0d1117;
  }

  ul {
    list-style-type: disc;
    padding-left: 1em;
    line-height: 2;
    font-size: 0.875em;
    @media (min-width: 768px) {
      font-size: 1em;
    }
  }

  ol {
    list-style-type: decimal;
    padding-left: 1em;
    line-height: 2;
    font-size: 0.875em;
    @media (min-width: 768px) {
      font-size: 1em;
    }
  }

  a {
    color: blue;
    line-height: 1.2;
    font-size: 0.9em;
  }
  strong{
    color: #000;
  }
}
